.header{
    background-color: #3f51b5;
    padding: 0 30px;
    position: relative;
    .menueIcon{
        position: absolute;
        top: 50%;
        margin-top: -9px;
    }
    .logo{
        position: absolute;
        left: 70px;
    }
}